name: Docker CI/CD Pipeline

on:
  push:
    branches:  
    - main 

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: shresth2000raj/project1:${{ github.sha }}

      - name: Deploy to EC2 instance
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            docker stop project1 || true
            docker rm project1 || true
             docker pull shresth2000raj/project1:${{ github.sha }}
            docker run -d --name project1 -p 80:80 shresth2000raj/project1:${{ github.sha }}
